@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 248, 248, 248; /* #F8F8F8 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: white; /* Outer bg white, app bg Snoonu-bg */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for clean mobile look but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
